html {
  box-sizing: border-box;
}

*, *:after, *:before {
  box-sizing: inherit;
}

.container {
  display: flex;
  max-width: 960px;
  background-color: #FFF5EE;
  margin: 20px auto;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.2)
}

.profile {
  flex-basis: 35%;
  background-color: #E6E6FA;
  color: #808080;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.1)
}

.profile-photo {
background-position: bottom;
height: 270px;
background-image: url(https://avatars.mds.yandex.net/get-yapic/39249/enc-cbd0127673b0d58eed8244ee45e0bbb0c995ae22351f6b3a5b4113619b8e5f8f/islands-300);
background-size: 250px;
background-repeat: no-repeat;
margin-top: 40px;
}

.profile-info {
padding-right: 30px;
padding-top: 50px;
padding-bottom: 40px;
font-family: Montserrat;
font-variant: small-caps;
}

.profile-text {
padding-right: 20px;
padding-left: 30px;
font-size: 16px;
line-height: 30px;
font-family: Montserrat;
font-variant: normal;
}

.heading {
margin: 0;
padding-bottom: 10px;
text-transform: uppercase;
font-size: 20px;
text-align: center;
}

.heading-blue {
max-width: 200px;
padding-top: 10px;
text-align: center;
color: #696969;
background-color: #FFF5EE;
}

.contact {
margin-bottom: 70px;
}

.contact-title {
margin: 0;
text-transform: uppercase;
font-size: 20px;
max-width: 200px;
background-color: #FFF5EE;
color: #696969;
padding-top: 15px;
text-align: center;
}

.contact-name {
color: #696969;
font-weight: bold;
margin-left: 45px;
margin-top: 15px;
}

.contact-list {
text-decoration: none;
color: #808080;
border-bottom: 1px #808080 solid;
line-height: 25px;
font-weight: normal;
}

.languages {
display: flex;
flex-wrap: wrap;
padding-top: 40px;
}

.language {
width: 100px;
height: 100px;
border: 4px solid #FFF0F5;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
margin-bottom: 30px;
margin-left: 30px;
}

.language:nth-child(3) {
margin-bottom: 15px;
}

.language-text {
text-transform: uppercase;
font-weight: bold;
font-size: 12px;
}

.language-per {
font-size: 15px;
font-weight: 600;
}

.lines {
display: flex;
flex-direction: column;
margin-left: 25px;
}

.line {
display: block;
width: 90px;
height: 3px;
background-color: #FFF5EE;
margin-top: 10px;
margin-bottom: 10px;
}

.line:nth-child(2) {
width: 100px;
margin-left: 20px;
}

.resume {
padding: 25px 30px;
flex-basis: 65%;
text-align: center;
font-family: Montserrat;
}

.name {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 8px;
  margin-top: 120px;
  font-weight: 300;

}

.position {
display: inline-block;
font-size: 18px;
text-transform: uppercase;
margin-top: 30px;
}

.skills {
  margin: 60px 0 0 80px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  max-width: 400px;
  background-color: #E6E6FA;
  color: #696969;
  padding-top: 17px;
  text-align: center;
}

.about-skills {
  font-size: 18px;
  padding: 20px;
  margin-top: 25px;
  margin-left: 40px;
  text-align: left;
  color: #696969;
  line-height: 25px;
  font-weight: normal;
  text-decoration: underline;
}

.skill-name {
  font-size: 18px;
  margin-left: 130px;
  padding: 15px;
  text-align: left;
  color: #696969;
  line-height: 25px;
  font-weight: normal;
}

.education {
  margin: 60px 0 0 80px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  max-width: 400px;
  background-color: #E6E6FA;
  color: #696969;
  padding-top: 15px;
  text-align: center;
}

.education-text {
  font-size: 16px;
  line-height: 30px;
  font-family: Montserrat;
  font-variant: normal;
  padding: 20px;
  text-align: left;
  margin: 0 0 0 30px;
  color: #696969;
}

.global {
  text-decoration: none;
  color: #000000;
}

.code-info {
  margin: 60px 0 0 80px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  max-width: 400px;
  background-color: #E6E6FA;
  color: #696969;
  padding-top: 15px;
  text-align: center;
}

.code-example {
  font-size: 16px;
  line-height: 30px;
  font-family: Montserrat;
  font-variant: normal;
  padding: 20px;
  text-align: left;
  margin: 0 0 0 30px;
  color: #696969;
}

.token {
  font-size: 16px;
  line-height: 10px;
  font-family: Montserrat;
  font-variant: normal;
  padding: 20px;
  text-align: left;
  margin: 0 0 0 120px;
  color: #696969;
  max-width: 200px;
}

.git-page {
  margin-right: 50px;
  height: 30px;
  width: 100px;
  border: 1px solid #696969;
  outline: none;
  color: #696969;
  background: #E6E6FA;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.date {
    font-style: italic;
    margin-right: 50px;
}